@import "../variables.scss";

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & > a {
    text-decoration: none;
    background-color: $main-1000;
    color: $white;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: $rounded;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: 2px 5px 5px $black;

    &:hover {
      background-color: $main-300;
      box-shadow: 12px 12px 2px 1px $black;
      transition: $transition;
    }
  }
}
