@import '../variables.scss';

.register-container {
    gap: 2rem;

    &>a {
        text-decoration: none;
        background-color: $main-1000;
        color: $white;
        padding: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: bolder;

        &:hover {
            background-color: $main-700;
        }
    }
}