@import "../variables.scss";

.article {
  display: flex;
  align-items: center;
  background-color: $custom-white;
  border-radius: $rounded;
  box-shadow: $container-shadow;

  &:hover {
    background: $hover-pink;
    transition: $transition;
  }
}

.category {
  writing-mode: vertical-lr;
  color: $main-1000;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  display: flex;
  position: relative;
  width: 40rem;

  & > img {
    user-select: none;
  }

  .card-data {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.85rem;

    & > .data-title {
      color: $main-1000;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5em;
    }

    & > .stars {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    & > p {
      box-shadow: 0 0 2px black inset;
      width: 80%;
      padding: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }

  .card-author {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    text-transform: lowercase;
    opacity: 0.8;
    font-size: 0.85em;
  }
}
