@import "../variables.scss";

.article {
  display: flex;
  align-items: center;
}

.category {
  writing-mode: vertical-lr;
  color: $main-1000;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  display: flex;
  position: relative;
  width: 40rem;
  border-radius: 0 $rounded $rounded 0;
  background-color: $custom-white;

  .card-data {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.85rem;

    &:hover {
      background: $hover-pink;
      transition: 250ms ease;
      border-radius: $rounded;
    }

    .data-title {
      color: $main-1000;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  .card-author {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    text-transform: lowercase;
    opacity: 0.8;
    font-size: 0.85em;
  }
}
