@import "../variables.scss";

nav {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  .name-link {
    text-decoration: none;
    color: $main-1000;
    cursor: pointer;

    &:hover {
      color: $main-500;
    }
  }

  .main-name {
    font-size: 3rem;
    font-weight: bold;
  }

  .secondary-name {
    font-size: 2rem;
    opacity: 0.8;
  }
}
