@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: $background;
  background-image: url("./assets/wp-1.png"), url("./assets/wp-2.png");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 750px auto;
  height: 100vh;
}

::selection {
  background-color: $main-200;
}
