$main-1000: #c71caa;
$main-700: #cf25b2;
$main-500: #dd46c4;
$main-300: #ca64b7;
$main-200: #f5b8ea;

$rounded: 0.5rem;
$circle: 3rem;

$black: black;
$white: white;
$background: #1e1e1e;
$custom-white: #fbfaf8;
$hover-pink: rgb(248, 219, 243);
$input-hover: rgb(241, 241, 241);
$transition: 200ms;
$container-shadow: 2px 2px 5px $black;
$card-background: #440d43;
$card-background-hover: #471c47;
$category-text: #a32a85;
